<div class="center-text">
  <h2>My Routes</h2>
</div>
<div>
  <button type="button" [routerLink]="['./new']">Add New Route</button>
</div>
<br/>
<agm-map [latitude]="mapConfig.latitude" [longitude]="mapConfig.longitude" [zoom]="mapConfig.zoom">
  <agm-polyline *ngFor="let route of routes" [strokeOpacity]="route.opacity" [clickable]="false">
    <agm-polyline-point *ngFor="let point of route.points" [latitude]="point.geo.latitude" [longitude]="point.geo.longitude">
    </agm-polyline-point>
  </agm-polyline>
  <ng-container *ngFor="let route of routes">
    <agm-marker *ngFor="let point of route.points" animation="DROP" [openInfoWindow]="false"
                [latitude]="point.geo.latitude" [longitude]="point.geo.longitude"
                (mouseOver)="mouseOver(route, infoWindow)" (mouseOut)="mouseOut(route, infoWindow)">
      <agm-info-window #infoWindow>
        <p><strong>{{route.name}}</strong></p>
        <p>Latitude: {{point.geo.latitude}}</p>
        <p>Longitude: {{point.geo.longitude}}</p>
        <p>Timestamp: {{point.timestamp.toDate() | date: "medium"}}</p>
      </agm-info-window>
    </agm-marker>
  </ng-container>
</agm-map>
