<div class="center-text">
  <h2>Create New Route</h2>
  <p>Provide route name and select at least two points clicking on the map</p>
</div>
<div>
  <label>
    Route Name:
    <input type="text" [(ngModel)]="name" placeholder="name" required>
  </label>
  <button type="submit" (click)="save()" [disabled]="!name || points.length < 2">
    Save & Go to Routes
  </button>
  <button type="button" (click)="cancel()">Cancel</button>
</div>
<br/>
<agm-map [latitude]="mapConfig.latitude" [longitude]="mapConfig.longitude" [zoom]="mapConfig.zoom"
         (mapClick)="mapClick($event)">
  <agm-polyline [clickable]="false">
    <agm-polyline-point *ngFor="let point of points" [latitude]="point.geo.latitude" [longitude]="point.geo.longitude">
    </agm-polyline-point>
  </agm-polyline>
  <agm-marker *ngFor="let point of points" animation="DROP" [openInfoWindow]="false"
              [latitude]="point.geo.latitude" [longitude]="point.geo.longitude">
  </agm-marker>
</agm-map>
